# Mutable and Immutables
* Immutable : int, float, bool, str, tuple

  Variables are not boxes that hold values (like in C/C++). Instead Objects live in memory (they have a type, value, and an identity) and Names (variables) are just labels (references) that point to these objects.

```
# ✅ When you write x = 5:
Python checks if an object with value 5 already exists in memory (due to integer interning for small integers [-5, 256]).
If yes → reuse it ie x will point to old object created before.
If no → allocate a new int object in memory.

If we modify x=5 or x=512 to a new value then old object holding 5 will still remain in memroy while object holding 512 will become garbage collectible.
```
* Mutable : list, set, dict

  Same object is modified in place

In [2]:
x = 5
print(id(x))
x = 10
print(id(x))

10757864
10758024

In [9]:
x = 5
y = 5
print(x is y)

True

In [3]:
a = [1, 2, 3]
print(id(a))
a.append(4)
print(id(a))

137790416167360
137790416167360

# Tuple
Elements cant be add, deleted or modified.

In [7]:
t = (1,2,3)
arr = [13,"String"]
t2 = tuple(arr)
print(t, len(t))
print(t2[0])

(1, 2, 3) 3
13

# List

In [23]:
arr = []

arr.append(5)
arr.append("Hello")
arr.append("World")

del arr[0] # arr.remove(5)
arr.pop() # last one

print(arr, len(arr))

['Hello'] 1

# Set

In [32]:
st = {2,3,3,4}
st.add(5)
print(st)
st.remove(2) #st.pop() from start
print(st)

{2, 3, 4, 5}
{3, 4, 5}

# Dict

In [30]:
d={1:"Hello", "name":"Jitu", 2:False}
d[4]="Kya"
print(d)
del d[2] # d.pop(2)
print(d)

{1: 'Hello', 'name': 'Jitu', 2: False, 4: 'Kya'}
{1: 'Hello', 'name': 'Jitu', 4: 'Kya'}